<% layout('layouts/boilerplate')%>


<div class="container-fluid my-5 " style="max-width: 750px; max-height: 300px;">
    <div class="card row p-0 border-0 shadow-lg">
        <!-- <div class=" col-md-6 offset-md-3 col-xl-4 offset-xl-4"> -->
        <div class="row g-0 ">
            <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="" class="col-md-7 p-0 " style="object-fit: cover">
            <div class="card-body col-md-5">
                <div class="d-flex justify-content-center">
                    <img src="/img/ycLogo.png" alt="" class="w-100 mb-4">
                </div>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-2">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <a class="btn btn-block mb-4" style="background-color: #22315c; color: #fff;">Login</a>
                </form>
                <div>
                    <a href="/register" class="btn btn-block" style="background-color: #005826; color: #fff;">Create New
                        Account</a>
                    <a href="#" class="btn btn-block" style="background-color: #406619; color: #fff;">Forgot
                        Password?</a>
                    <a href="/campgrounds" class="btn btn-block" style="background-color: #837b00; color: #fff">Continue
                        as
                        Guest</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <div class="card">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-5">
            <img class="d-block w-100"
                src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="">
        </div>
        <div class="col-sm-7 ">
            <div class="">
                <img src="/img/ycLogo.png" alt="" class="w-50">
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">Button</button>

            </div>
        </div>

    </div>
</div>
</div> -->