<% layout('layouts/boilerplate')%>

<div class="container-fluid my-5 " style="max-width: 750px; max-height: 300px;">
    <div class="card row p-0 border-0 shadow-lg" style="">
        <!-- <div class=" col-md-6 offset-md-3 col-xl-4 offset-xl-4"> -->
        <div class="row g-0 " style="-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41);">
            <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="" class="col-md-7 p-0 " style="object-fit: cover">
            <div class="card-body col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="/img/ycLogo.png" alt="" class="w-100 mb-4">
                </div>
                <form action="/register" method="POST" class="validated-form" novalidate>
                    <div class="mb-2">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required autofocus>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-block" style="background-color: #22315c; color: #fff;">Register</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>